:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --background-box-darkgrey: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* !header */
.nav-menu a,
.nav-contact a {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-contact a {
  color: var(--main-text-color);
}

.nav-menu a:hover,
.nav-menu a:focus,
.nav-contact a:focus,
.nav-contact a:hover,
.address-nav a:focus,
.address-nav a:hover {
  color: var(--accent-text-color);
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-dark {
  color: #000000;
}

/* !Hero index*/
.hero {
  background-color: var(--background-box-darkgrey);
}

.title {
  font-size: 44px;
  font-weight: 900;
  color: var(--white-text-color);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn {
  /* *btn size */
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  border-radius: 4px;
  border: transparent;

  /* *btn style */
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-text-stroke: 1px #000000;
}
/* !main index*/
.title-invis {
  color: transparent;
}

.title-section,
.title-team {
  color: var(--second-text-color);
  line-height: 1.17;
}
.title-team {
  font-size: 36px;
  text-align: center;
}

.title-name,
.text-proff {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-text-color);
  line-height: 1.19;
  text-align: center;
}

.text-proff {
	font-weight: 400;
  color: var(--main-text-color);
}

/* !footer */
.footer {
  background-color: var(--background-box-darkgrey);
}

.logo-light {
  color: var(--white-text-color);
}

.address-link {
  color: var(--white-text-color);
  font-style: normal;
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/* !portfolio main*/
.title-project {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-project{
	font-size: 16px;
	line-height: 1.88;
}

